<header class="search-header">
    <form class="search-form">
        <input type="text" placeholder="Origen" required aria-label="Origen">
        <input type="text" placeholder="Destino" required aria-label="Destino">
        <input type="date" required aria-label="Fecha de viaje">
        <select aria-label="Número de pasajeros">
            <option>1 Pasajero</option>
            <option>2 Pasajeros</option>
            <option>3 Pasajeros</option>
            <option>4+ Pasajeros</option>
        </select>
        <button type="submit">Buscar Vuelos</button>
    </form>
</header>

<main>
    <section class="hero">
        <div>
            <h1>DESCUBRE EL ESPACIO CON</h1>
            <span>SkyJourney</span>
            <button (click)="scrollToElement()">EMPEZAR</button>
        </div>
    </section>

    <section class="featured">
        <h1>PRÓXIMOS VUELOS</h1>
        <div id="empezar" class="offers">
            <div class="offer">
                <img src="https://media.robertsspaceindustries.com/t2bky2nbdg0ms/source.jpg?_gl=1*z7f4ro*_gcl_au*NDQwMzU3MjMyLjE3MzA5NzgzOTU.*_ga*MTE2MDI2NTU1OS4xNzMwOTc4Mzk1*_ga_V6MWYXRQNP*MTczMDk3ODM5NC4xLjEuMTczMDk3ODczMC42MC4wLjA." alt="">
                <h3>París</h3>
                <p>Vuelos desde $499</p>
                <button>Ver Oferta</button>
            </div>
            <div class="offer">
                <img src="https://robertsspaceindustries.com/media/vh2jbjaom7ys4r/source/CO_Beauty_BioDomes.jpg" alt="">
                <h3>Tokio</h3>
                <p>Vuelos desde $799</p>
                <button>Ver Oferta</button>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2023 SkyJourney. Todos los derechos reservados.</p>
</footer>

<router-outlet />