<header>
  <select class="bg-gray-100 text-gray-900 border-0 rounded-md p-2 mb-4 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" id="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>
</header>

<main class="main">
  <div id="backImg">
    <section class="content">
      <div class="pill-group">
        <h1>
          Nunca pagues de más por tu viaje
        </h1>
        <p>
          VLC-Travel busca los mejores precios, ayudandote así a reservar tus vuelos justo a tiempo y a ahorrar siempre todo lo posible. 
        </p>
        <div class="social-links">
          <button mat-flat-button>
            Descarga nuestra APP
          </button>
        </div>
      </div>
    </section>
  </div>
</main>

<router-outlet />
